# Ignore local archive of old / experimental code
Archived or non-functioning/

# Ignore DB backups
*.db.backup
*.db.bak
*.db.local
*backup_before_manual_import.db

# Ignore temporary Office lock files
~$*.docx
